.card {
    padding: 15px;
    border-radius: 5px;
}

.personal-card {
    background-color: #DAE8FC; 
}
  
.geographic-card {
    background-color: #FFE6CC; 
}
  
.messages-card {
    background-color: #FFF2CC; 
}
  