.youtube-notification {
  background-color: #ffcccc;  
  border: 1px solid red;
}

.instagram-notification {
  background-color: #ffffcc;  
  border: 1px solid yellow;
}

.whatsapp-notification {
  background-color: #ccffcc;  
  border: 1px solid green;
}

.tiktok-notification {
  background-color: #e6ccff;  
  border: 1px solid purple;
}

.facebook-notification {
  background-color: #cce6ff;  
  border: 1px solid lightblue;
}
