.calculator {
    border: 1px green solid;
    padding: 20px;
    width: 80%;
    .buttons-container {
       display: flex;
       flex-direction: row;

       .sum {
        background-color: yellow;
       }
       .mul{
        background-color: papayawhip;
       }
       .reset{
        background-color: aqua;
       }

    }
    
}

.calculator-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.history {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 20%; 
  margin-left: 20px;
}



